<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
	xml:lang="en"
	lang="en">

<wicket:panel>
	<form wicket:id="photo_upload">
	<fieldset><legend>Dodaj Zdjęcie</legend>
	<div
		wicket:id="file_input"
		class="mfuex" />
	<input
		type="submit"
		value="Wyślij!" /> <span wicket:id="upload_progress">[[ajax upload progressbar]]</span></fieldset>
	</form>
	<form wicket:id="folderForm">
		Nazwa:<input type="text" wicket:id="folderName"/>
		<input type="submit" value="Nowy Folder"/>
	</form>
	<div><span wicket:id="uploadFeedback" /></div>
	<div wicket:id="images_container">
		<div wicket:id="images">
			<div style="float: left; padding: 10px; height: 120px; text-align: center;">
				<div><img wicket:id="image" style="width: 80px"/> <a
					href="#"
					style="position: relative; left: -20px;"
					wicket:id="remove"><img
					src="/images/remove.png"
					style="width: 15px;" /></a>
				</div>
			</div>
		</div>
	</div>
</wicket:panel>
</html>