<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
	xml:lang="en"
	lang="en">
	<wicket:panel>
		<tr>
			<td>Imię</td>
			<td wicket:id="firstName"></td>
		</tr>
		<tr>
			<td>Nazwisko</td>
			<td wicket:id="lastName"></td>
		</tr>
		<tr>
			<td>e-mail</td>
			<td wicket:id="eMail"></td>
		</tr>
		<tr>
			<td>strona WWW/Blog</td>
			<td wicket:id="webPage"></td>
		</tr>
		<tr>
			<td>twitter</td>
			<td wicket:id="twitter"></td>
		</tr>
		<tr>
			<td colspan="2">O sobie:</td>
		</tr>
		<tr>
			<td colspan="2" wicket:id="bio"></td>
		</tr>
	</wicket:panel>
</html>