<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:wicket="http://wicket.apache.org/dtds.data/wicket-xhtml1.4-strict.dtd"
	xml:lang="en"
	lang="en">
	<wicket:panel>
	<div style="float: left;">
		<img src="#" wicket:id="photo" style="width: 80px"/>
	</div>
	<div>
	<table style="padding:0px; width:100%;" class="c4p">
				<tr>
			<td style="width: 150px;">Imię</td>
			<td wicket:id="firstName"></td>
		</tr>
		<tr>
			<td>Nazwisko</td>
			<td wicket:id="lastName"></td>
		</tr>
		<tr>
			<td>e-mail</td>
			<td wicket:id="eMail"></td>
		</tr>
		<tr>
			<td>strona WWW/Blog</td>
			<td><a href="#" wicket:id="webPage"></a></td>
		</tr>
		<tr>
			<td>twitter</td>
			<td> <a href="#" wicket:id="twitter"></a></td>
		</tr>
		<tr>
			<td colspan="2">O sobie:</td>
		</tr>
		<tr>
			<td colspan="2" wicket:id="bio"></td>
		</tr>
		<tr>
			<td colspan="2">
				<a href="#" wicket:id="edit">Edytuj</a> |
				<a href="#" wicket:id="changePassword">Zmień Hasło</a> |
				<a href="#" wicket:id="add_presentation">Dodaj prezentacje</a> |
				<a href="#" wicket:id="logout">Wyloguj</a>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<table style="width:100%" border="1">
					<tbody>
						<tr wicket:id="presentations">
							<td wicket:id="title"></td>
				        	<td style="text-align: center; width: 50px;">
				        		<a href="#" wicket:id="edit">edytuj</a>
				        		<a href="#" wicket:id="view">pokaż</a>
				        	</td>
	        				<td style="text-align: center; width: 50px;"><a href="#" wicket:id="delete">usuń</a></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
	</table>
	</div>
	</wicket:panel>
</html>